<div class="admin-layout" [class.sidebar-collapsed]="isCollapsed">

  <div class="sidebar">
    <div class="sidebar-header">
      <h3>Mi Almacén</h3>
      <button class="toggle-button" (click)="toggleSidebar()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
    <ul class="sidebar-nav">
      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])"><a routerLink="dashboard"><fa-icon
            [icon]="faDashboard"></fa-icon> <span>Dashboard</span></a></li>
      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])"><a routerLink="entradas"><fa-icon
            [icon]="faEntradas"></fa-icon><span>Entradas</span></a></li>
      <!-- <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])"><a routerLink="productos-compuestos"><fa-icon
            [icon]="faRecetas"></fa-icon><span>Emsamble</span></a></li> -->
      <!-- <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])"><a routerLink="registro-produccion"><fa-icon
            [icon]="faArmado"></fa-icon><span>Armar</span></a></li> -->
      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])"><a routerLink="salidas"><fa-icon
            [icon]="faSalidas"></fa-icon> <span>Salidas</span></a></li>
      <!--   <li><a routerLink="registro-entrada-insumo">Entradas I</a></li> -->

      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario', 'Almacenista'])">
        <a routerLink="prestamos" routerLinkActive="active">
          <fa-icon [icon]="faPrestamos"></fa-icon>
          <span>Préstamos</span>
        </a>
      </li>
      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="refacciones"><fa-icon [icon]="faRefacciones"></fa-icon><span>Gestión de Refacciones</span></a>
      </li>
      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="insumos"><fa-icon [icon]="faInsumos"></fa-icon> <span>Gestión de Insumos</span></a>
      <li *ngIf="authService.hasRole(['SuperUsuario', 'Admin'])">
        <a routerLink="usuarios"><fa-icon [icon]="faUsuarios"></fa-icon> <span>Usuarios</span></a>
      </li>
      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="autobuses"><fa-icon [icon]="faAutobuses"></fa-icon> <span>Autobuses</span></a>
      </li>
      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="proveedores"><fa-icon [icon]="faProveedores"></fa-icon> <span>Proveedores</span></a>
      </li>
      <li *ngIf="authService.hasRole(['SuperUsuario'])">
        <a routerLink="reportes" routerLinkActive="active"><fa-icon [icon]="faReportes"></fa-icon>
          <span>Reportes</span></a>
      </li>
      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="inventario-inicial" routerLinkActive="active"><fa-icon [icon]="faCargaInicial"></fa-icon>
          <span>Carga Inicial</span></a>
      </li>
      <li *ngIf="authService.hasRole(['SuperUsuario'])">
        <a routerLink="/admin/superadmin">
          <i class="fas fa-shield-alt"></i> <fa-icon [icon]="faEdicionHistorica"></fa-icon> <span>Edición
            Histórica</span>
        </a>
      </li>
      <li *ngIf="authService.hasRole(['SuperUsuario'])">
        <a routerLink="/admin/edicion-detalles" routerLinkActive="active">
          <fa-icon [icon]="faEdicionDetalles"></fa-icon>
          <span>Corrección de Errores</span>
        </a>
      </li>
      <!-- <li *ngIf="authService.hasRole(['SuperUsuario'])">
        <a routerLink="/admin/conteo-inventario" routerLinkActive="active">
          <fa-icon [icon]="faEdicionDetalles"></fa-icon>
          <span>Ajustes CI</span>
        </a>
      </li> -->

      <li *ngIf="authService.hasRole(['AdminDiesel', 'SuperUsuario'])">
        <a routerLink="/admin/tanques" routerLinkActive="active">
          <fa-icon [icon]="faTanques"></fa-icon>
          <span>Tanques</span>
        </a>
      </li>
      <li *ngIf="authService.hasRole(['AdminDiesel', 'SuperUsuario'])">
        <a routerLink="rutas" routerLinkActive="active">
          <fa-icon [icon]="faRutas"></fa-icon>
          <span>Rutas</span>
        </a>
      </li>
      <li *ngIf="authService.hasRole(['SuperUsuario'])">
        <a routerLink="/admin/rendimientos" routerLinkActive="active">
          <fa-icon [icon]="faRendimientos"></fa-icon>
          <span>Rendimientos</span>
        </a>
      </li>
      <li *ngIf="authService.hasRole(['SuperUsuario'])">
        <a routerLink="/admin/operadores" routerLinkActive="active">
          <fa-icon [icon]="faOperadores"></fa-icon>
          <span>Operadores</span>
        </a>
      </li>
      <li *ngIf="authService.hasRole([ 'SuperUsuario'])">
        <a routerLink="/admin/admin-panel" routerLinkActive="active">
          <fa-icon [icon]="faTanques"></fa-icon>
          <span>x</span>
        </a>
      </li>
      <li *ngIf="authService.hasRole(['SuperUsuario', 'AdminDiesel'])">
        <a routerLink="/admin/registro-carga-combustible" routerLinkActive="active">
          <fa-icon [icon]="faCargaCombustible"></fa-icon>
          <span>Carga de Combustible</span></a>
      </li>
      <li><a routerLink="perfil"><fa-icon [icon]="faMiPerfil"></fa-icon> <span>Mi Perfil</span></a></li>
    </ul>


    <div class="sidebar-footer" *ngIf="currentUser">
      <div class="user-info">
        <div class="user-name">{{ currentUser.nombre }}</div>
        <div class="user-role">{{ currentUser.puesto }}</div>
      </div>
      <button class="logout-button" (click)="logout()"><fa-icon [icon]="faCerrarSesion"></fa-icon> <span>Cerrar
          Sesión</span></button>
    </div>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</div>