<div class="admin-layout">
  
  <div class="sidebar">
    <div class="sidebar-header">
      <h3>Mi Almacén</h3>
    </div>
    <ul class="sidebar-nav">
  <li><a routerLink="dashboard">Dashboard</a></li>
  <li><a routerLink="entradas">Entradas </a></li>
  <li><a routerLink="salidas">Salidas</a></li>
<!--   <li><a routerLink="registro-entrada-insumo">Entradas I</a></li> -->
  
  


  <li *ngIf="authService.hasRole(['Admin'])">
    <a routerLink="refacciones">Refacciones</a>
  </li>
  <li *ngIf="authService.hasRole(['Admin'])">
    <a routerLink="insumos">Insumos</a>
  <li *ngIf="authService.hasRole(['Admin'])">
    <a routerLink="usuarios">Usuarios</a>
  </li>
  <li *ngIf="authService.hasRole(['Admin'])">
    <a routerLink="autobuses">Autobuses</a>
  </li>
  <li *ngIf="authService.hasRole(['Admin'])">
    <a routerLink="proveedores">Proveedores</a>
  </li>
  <li *ngIf="authService.hasRole(['Admin'])">
    <a routerLink="reportes" routerLinkActive="active">Reportes</a>
  </li>
  <li *ngIf="authService.hasRole(['Admin'])">
    <a routerLink="inventario-inicial" routerLinkActive="active">Carga Inicial</a>
  </li>
  <li *ngIf="authService.hasRole(['SuperUsuario'])">
  <a routerLink="/admin/superadmin">
    <i class="fas fa-shield-alt"></i> Panel SuperAdmin
  </a>
</li>
  <li><a routerLink="perfil">Mi Perfil</a></li>
</ul>


    <div class="sidebar-footer" *ngIf="currentUser">
      <div class="user-info">
        <div class="user-name">{{ currentUser.nombre }}</div>
        <div class="user-role">{{ currentUser.puesto }}</div>
      </div>
      <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  
</div>