<div class="admin-layout" [class.sidebar-collapsed]="isCollapsed">

  <div class="sidebar">
    <div class="sidebar-brand-header">
      <div class="brand-container" *ngIf="!isCollapsed">
        <img src="/assets/img/LogoPe.png" alt="Logo S&A Group" class="custom-logo">
        <div class="brand-text">
          <h1>SGE</h1>
          <span>Gestión Empresarial</span>
        </div>
      </div>
      <button class="menu-toggle-btn" (click)="toggleSidebar()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>

    <ul class="sidebar-nav">
      
      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario', 'RRHH'])">
        <a routerLink="dashboard" routerLinkActive="active">
          <fa-icon [icon]="faDashboard"></fa-icon> <span>Dashboard</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['RRHH', 'SuperUsuario'])">
        <a routerLink="/admin/dashboard-rrhh" routerLinkActive="active">
          <fa-icon [icon]="faDashboard"></fa-icon> <span>Dashboard RRHH</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['AdminDiesel', 'SuperUsuario'])">
        <a routerLink="/admin/tanques" routerLinkActive="active">
          <fa-icon [icon]="faTanques"></fa-icon> <span>Admón. Diesel</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['SuperUsuario'])">
        <a routerLink="tickets" routerLinkActive="active">
          <fa-icon [icon]="faTickets"></fa-icon> <span>Soporte</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="entradas" routerLinkActive="active">
          <fa-icon [icon]="faEntradas"></fa-icon> <span>Entradas</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="servicios-externos" routerLinkActive="active">
          <fa-icon [icon]="faServiciosExternos"></fa-icon> <span>Servicios Externos</span>
        </a>
      </li>      

      <li *ngIf="authService.hasRole(['SuperUsuario'])">
        <a routerLink="ajustes" routerLinkActive="active">
          <fa-icon [icon]="faRecetas"></fa-icon> <span>AjustesInv</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="registro-produccion" routerLinkActive="active">
          <fa-icon [icon]="faArmado"></fa-icon> <span>Armar</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="productos-compuestos" routerLinkActive="active">
          <fa-icon [icon]="faArtArmados"></fa-icon> <span>Art. Armados</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="salidas" routerLinkActive="active">
          <fa-icon [icon]="faSalidas"></fa-icon> <span>Salidas</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario', 'Almacenista'])">
        <a routerLink="prestamos" routerLinkActive="active">
          <fa-icon [icon]="faPrestamos"></fa-icon> <span>Préstamos</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="refacciones" routerLinkActive="active">
          <fa-icon [icon]="faRefacciones"></fa-icon> <span>Gestión de Refacciones</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="insumos" routerLinkActive="active">
          <fa-icon [icon]="faInsumos"></fa-icon> <span>Gestión de Insumos</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['SuperUsuario', 'Admin'])">
        <a routerLink="usuarios" routerLinkActive="active">
          <fa-icon [icon]="faUsuarios"></fa-icon> <span>Usuarios</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="autobuses" routerLinkActive="active">
          <fa-icon [icon]="faAutobuses"></fa-icon> <span>Unidades</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="proveedores" routerLinkActive="active">
          <fa-icon [icon]="faProveedores"></fa-icon> <span>Proveedores</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['SuperUsuario', 'Admin'])">
        <a routerLink="reportes" routerLinkActive="active">
          <fa-icon [icon]="faReportes"></fa-icon> <span>Reportes</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['Admin', 'SuperUsuario'])">
        <a routerLink="inventario-inicial" routerLinkActive="active">
          <fa-icon [icon]="faCargaInicial"></fa-icon> <span>Carga Inicial</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['SuperUsuario', 'Admin'])">
        <a routerLink="/admin/recuperados" routerLinkActive="active">
          <fa-icon [icon]="faEdicionHistorica"></fa-icon> 
          <span>Recuperados</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['SuperUsuario'])">
        <a routerLink="/admin/herramienta-fusion" routerLinkActive="active">
          <fa-icon [icon]="faEdicionHistorica"></fa-icon> 
          <span>Herramienta de Fusión</span>
        </a>
      </li>


      <!-- <li *ngIf="authService.hasRole(['SuperUsuario', 'Admin'])">
        <a routerLink="/admin/taller" routerLinkActive="active">
          <fa-icon [icon]="faEdicionDetalles"></fa-icon> <span>Taller</span>
        </a>
      </li> -->

      <li *ngIf="authService.hasRole(['SuperUsuario'])">
        <a routerLink="/admin/edicion-detalles" routerLinkActive="active">
          <fa-icon [icon]="faEdicionDetalles"></fa-icon> <span>Corrección de Errores</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['AdminDiesel', 'SuperUsuario'])">
        <a routerLink="rutas" routerLinkActive="active">
          <fa-icon [icon]="faRutas"></fa-icon> <span>Rutas</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['SuperUsuario'])">
        <a routerLink="/admin/rendimientos" routerLinkActive="active">
          <fa-icon [icon]="faRendimientos"></fa-icon> <span>Rendimientos</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['SuperUsuario', 'RRHH'])">
        <a routerLink="/admin/operadores" routerLinkActive="active">
          <fa-icon [icon]="faOperadores"></fa-icon> <span>Operadores</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['SuperUsuario'])">
        <a routerLink="/admin/admin-panel" routerLinkActive="active">
          <fa-icon [icon]="faTanques"></fa-icon> <span>x</span>
        </a>
      </li>

      <li *ngIf="authService.hasRole(['SuperUsuario', 'AdminDiesel'])">
        <a routerLink="/admin/registro-carga-combustible" routerLinkActive="active">
          <fa-icon [icon]="faCargaCombustible"></fa-icon> <span>Carga de Combustible</span>
        </a>
      </li>

      <li>
        <a routerLink="perfil" routerLinkActive="active">
          <fa-icon [icon]="faMiPerfil"></fa-icon> <span>Mi Perfil</span>
        </a>
      </li>
    </ul>

    <div class="sidebar-footer" *ngIf="currentUser">
      <div class="user-info" *ngIf="!isCollapsed">
        <div class="user-name">{{ currentUser.nombre }}</div>
        <div class="user-role">{{ currentUser.puesto }}</div>
      </div>
      <button class="logout-button" (click)="logout()" [title]="isCollapsed ? 'Cerrar Sesión' : ''">
        <fa-icon [icon]="faCerrarSesion"></fa-icon> 
        <span *ngIf="!isCollapsed">Cerrar Sesión</span>
      </button>
    </div>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
    <!-- <app-bot-ayuda></app-bot-ayuda> -->
  </div>

</div>