<div class="content">
    <div class="welcome-section">
      <h2>¡Bienvenido, {{ usuarioNombre }}!</h2>
      <p>¿Qué haremos hoy..?</p>
    </div>
  
    <div class="button-container">
      <button class="btn-custom" (click)="onClickCatalogo()">Usuarios</button>
      <button class="btn-custom" (click)="onClickProducto()">Productos</button>
      <button class="btn-custom" (click)="onClickSalir()">Salir</button>
    </div>
  
    <div class="profile-icon">
      <i class="fa fa-user-circle"></i>
    </div>
  </div>